{% extends 'base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>About</h1>
    </div>
        <section class="about-introduction">
        <h2>My Mission</h2>
        <p>
            At <strong>My Digital Diary</strong>, My mission is to share insights, ideas, and stories that inspire and inform. 
            Whether you're a tech enthusiast, a curious learner, or a creative soul, our blog is here to provide content that matters to you.
        </p>
    </section>

    <section class="about-story">
        <h2>My Story</h2>
        <p>
            Founded in [2024], <strong>My Digital Diary</strong> began as a small project to document thoughts and 
            experiences in the digital space. Over time, it has grown into a platform for sharing knowledge, ideas, and 
            creativity with a global audience. We believe in the power of words and the impact they can have on individuals 
            and communities.
        </p>
    </section>

    <section class="about-team">
        <h2>Meet Me</h2>
        <p>
            <strong>OTIENO SCOVIA</strong>, Founder and Content Creator<br>
            Passionate about technology, creativity, and lifelong learning, I started this blog to connect with readers 
            who share similar interests.
        </p>
       
    
    </section>

    <section class="about-values">
        <h2>What The Blog Stand For</h2>
        <ul>
            <li><strong>Integrity:</strong> Providing honest, accurate, and meaningful content.</li>
            <li><strong>Creativity:</strong> Delivering fresh perspectives and innovative ideas.</li>
            <li><strong>Community:</strong> Building a space for engagement and mutual learning.</li>
        </ul>
    </section>

    <section class="about-connect">
        <h2>Connect with me</h2>
        <p>I'd love to hear from you! Feel free to reach out:</p>
        <ul>
            <li>Email: <a href="mailto:atienosco3@gmail.com">contact@mydigitaldiary.com</a></li>
            <li>Follow me on social media:</li>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </ul>
    </section>

    <footer class="about-footer">
        <p>&copy; {{ 2024 }} My Digital Diary. All rights reserved.</p>
    </footer>

{% endblock content %}