{% extends "base.html" %}

{% block title %}Latest Posts - My Digital Diary{% endblock %}

{% block content %}
    <h1>Latest Blog Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content|truncatechars:100 }}</p>
                <p><em>Published: {{ post.created_at }}</em></p>
                <a href="{% url 'post_detail' post.id %}">Read more</a>
            </li>
        {% empty %}
            <li>No posts available.</li>
        {% endfor %}
    </ul>
{% endblock %}
